<div class="layout-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="media layout-header-logo">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="/modules/app/img/logo20.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">РЕСУРСНИЙ ЦЕНТР ГУРТ</h3>
                        ІнФормуємо громадянське суспільство України
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="navbar navbar-default layout-navbar" data-fixed-header>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#layout-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </a>
        </div>
        <div class="collapse navbar-collapse layout-navbar-collapse" id="layout-navbar-collapse">
            <ul class="nav navbar-nav">
                <li nav-menu>
                    <a href="/news">новини</a>
                    <ul class="menu-dropdown">
                        <li><a href="/news">новини</a></li>
                        <li><a href="/news">новини</a></li>
                        <li><a href="/news">новини</a></li>
                    </ul>
                </li>
                <li><a href="/news/events">календар</a></li>
                <li><a href="/interviews">інтерв'ю</a></li>
                <li><a ui-sref="app">блоги</a></li>
                <li><a ui-sref="app.articles">статті</a></li>
                <li><a ui-sref="app">рецепти успіху</a></li>
                <li><a ui-sref="app">інструменти</a></li>
                <li><a ui-sref="app">гурт</a></li>
                <li><a ui-sref="app">english</a></li>
                <li data-ng-show="fixed" data-ng-click="goUp()" style="position: absolute;margin-left: 881px;"><a href="#">
                    <span class="glyphicon glyphicon-circle-arrow-up"
                          aria-hidden="true"></span>
                </a></li>
            </ul>
        </div>
    </div>
</div>

<div class="navbar"></div>
