.layout-header {
    background-color: #ffffff;
    padding: 10px 0;
    border-bottom: solid 1px #ff652a;
    margin-bottom: 1px;
}

.layout-header-logo {
    font-size: 1em;
    font-weight: 300;
    color: #ff652a;
}
.layout-header-logo .media-heading {
    color: #1e3f76;
    font-size: 2em;
    font-weight: bold;
    line-height: 32px;
}
