body {
    background-color: #fbfbfb;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
}

.is-gurt {
    color: #ff652a;
}

.text-desc {
    font-size: 0.95em;
}

body, .panel-heading, .panel-footer {
    background-color: #fafafa !important;
}